header {
	position: fixed;
	left: 0;
	top: 0;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	width: 100%;
	height: var(--header-base-height);

	background-color: var(--bg-color);
}

main {
	margin: 65px 0 0 0;
}

footer {

}

@media screen and (max-width: 540px) {
	header {
		flex-direction: column;
		justify-content: center;
		
		height: calc(var(--header-base-height)*2);
	}
	
	main {
		margin: 100px 0 0 0;
	}
	
	footer {
	
	}
}